In [1]:
import pandas as pd
dataset = pd.read_csv(r"C:\Users\Abdullah Al Mohsin\Desktop\python new\missdata.csv")
dataset

         Month  Quantity
0    1-31-2019      38.0
1    2-28-2019      18.0
2    3-31-2019      17.0
3    4-30-2019      58.0
4    5-31-2019     193.0
5    6-30-2019    1884.0
6    7-31-2019   16253.0
7    8-31-2019   52636.0
8    9-30-2019   16856.0
9   10-31-2019    8143.0
10  11-30-2019    4011.0
11  12-31-2019    1247.0
12   1-30-2020     197.0
13   1-31-2020       NaN
14   2-29-2020       NaN
15   3-31-2020       NaN
16   4-30-2020       NaN
17   5-31-2020       NaN
18   6-30-2020       NaN
19   7-31-2020       NaN
20   8-31-2020       NaN
21   9-30-2020       NaN
22  10-31-2020       NaN
23  11-30-2020       NaN
24  12-31-2020       NaN
25   1-31-2021      32.0
26   2-28-2021       9.0
27   3-31-2021      13.0
28   4-30-2021       3.0
29   5-31-2021      43.0
30   6-30-2021     272.0
31   7-31-2021    2286.0
32   8-31-2021    7698.0
33   9-30-2021    7841.0
34  10-31-2021    5458.0
35  11-30-2021    3567.0
36  12-31-2021    1207.0
37   1-31-2022     126.0
38   2-28-2022      20.0
39   3-31-2022      20.0
40   4-30-2022      23.0
41   5-31-2022     163.0
42   6-30-2022     737.0
43   7-31-2022    1571.0
44   8-31-2022    3521.0
45   9-30-2022    9911.0
46  10-31-2022   21932.0
47  11-30-2022   19334.0
48  12-31-2022    5024.0
49   1-31-2023     566.0
50   2-28-2023     166.0
51   3-31-2023     111.0
52   4-30-2023     143.0
53   5-31-2023    1036.0
54   6-30-2023    5956.0
55   7-31-2023   43854.0
56   8-31-2023   71976.0
57   9-30-2023   79598.0
58  10-31-2023   67769.0
59  11-22-2023   33523.0

In [2]:
import pandas as pd
dataset = pd.read_csv(r"C:\Users\Abdullah Al Mohsin\Desktop\python new\missdata.csv")
dataset.set_index("Month",inplace = True)
dataset

            Quantity
Month
1-31-2019       38.0
2-28-2019       18.0
3-31-2019       17.0
4-30-2019       58.0
5-31-2019      193.0
6-30-2019     1884.0
7-31-2019    16253.0
8-31-2019    52636.0
9-30-2019    16856.0
10-31-2019    8143.0
11-30-2019    4011.0
12-31-2019    1247.0
1-30-2020      197.0
1-31-2020        NaN
2-29-2020        NaN
3-31-2020        NaN
4-30-2020        NaN
5-31-2020        NaN
6-30-2020        NaN
7-31-2020        NaN
8-31-2020        NaN
9-30-2020        NaN
10-31-2020       NaN
11-30-2020       NaN
12-31-2020       NaN
1-31-2021       32.0
2-28-2021        9.0
3-31-2021       13.0
4-30-2021        3.0
5-31-2021       43.0
6-30-2021      272.0
7-31-2021     2286.0
8-31-2021     7698.0
9-30-2021     7841.0
10-31-2021    5458.0
11-30-2021    3567.0
12-31-2021    1207.0
1-31-2022      126.0
2-28-2022       20.0
3-31-2022       20.0
4-30-2022       23.0
5-31-2022      163.0
6-30-2022      737.0
7-31-2022     1571.0
8-31-2022     3521.0
9-30-2022     9911.0
10-31-2022   21932.0
11-30-2022   19334.0
12-31-2022    5024.0
1-31-2023      566.0
2-28-2023      166.0
3-31-2023      111.0
4-30-2023      143.0
5-31-2023     1036.0
6-30-2023     5956.0
7-31-2023    43854.0
8-31-2023    71976.0
9-30-2023    79598.0
10-31-2023   67769.0
11-22-2023   33523.0

In [3]:
newdataset = dataset.interpolate()
newdataset

                Quantity
Month
1-31-2019      38.000000
2-28-2019      18.000000
3-31-2019      17.000000
4-30-2019      58.000000
5-31-2019     193.000000
6-30-2019    1884.000000
7-31-2019   16253.000000
8-31-2019   52636.000000
9-30-2019   16856.000000
10-31-2019   8143.000000
11-30-2019   4011.000000
12-31-2019   1247.000000
1-30-2020     197.000000
1-31-2020     184.307692
2-29-2020     171.615385
3-31-2020     158.923077
4-30-2020     146.230769
5-31-2020     133.538462
6-30-2020     120.846154
7-31-2020     108.153846
8-31-2020      95.461538
9-30-2020      82.769231
10-31-2020     70.076923
11-30-2020     57.384615
12-31-2020     44.692308
1-31-2021      32.000000
2-28-2021       9.000000
3-31-2021      13.000000
4-30-2021       3.000000
5-31-2021      43.000000
6-30-2021     272.000000
7-31-2021    2286.000000
8-31-2021    7698.000000
9-30-2021    7841.000000
10-31-2021   5458.000000
11-30-2021   3567.000000
12-31-2021   1207.000000
1-31-2022     126.000000
2-28-2022      20.000000
3-31-2022      20.000000
4-30-2022      23.000000
5-31-2022     163.000000
6-30-2022     737.000000
7-31-2022    1571.000000
8-31-2022    3521.000000
9-30-2022    9911.000000
10-31-2022  21932.000000
11-30-2022  19334.000000
12-31-2022   5024.000000
1-31-2023     566.000000
2-28-2023     166.000000
3-31-2023     111.000000
4-30-2023     143.000000
5-31-2023    1036.000000
6-30-2023    5956.000000
7-31-2023   43854.000000
8-31-2023   71976.000000
9-30-2023   79598.000000
10-31-2023  67769.000000
11-22-2023  33523.000000